---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{{ page.profile.align }}">
        <!-- Light theme image -->
        <img src="{{ site.baseurl }}/assets/img/{{ page.profile.image_light }}" alt="Profile Light" class="profile-img-light">
        <!-- Dark theme image -->
        <img src="{{ site.baseurl }}/assets/img/{{ page.profile.image_dark }}" alt="Profile Dark" class="profile-img-dark">
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info | markdownify }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

   
<style>
/* Default to light theme */
.profile-img-dark {
  display: none;
}

body.dark-mode .profile-img-light {
  display: none;
}

body.dark-mode .profile-img-dark {
  display: block;
}
</style>

<button id="theme-toggle">Toggle Theme</button>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.getElementById('theme-toggle');

    function getSystemTheme() {
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }

    function applyTheme(theme) {
        const currentTheme = theme || localStorage.getItem('theme') || getSystemTheme();
        document.body.className = currentTheme === 'dark' ? 'dark-mode' : '';
        switchProfileImage(currentTheme);
        updateToggleButtonText(currentTheme);
    }

    function switchProfileImage(theme) {
        const profileImageLight = document.querySelector('.profile-img-light');
        const profileImageDark = document.querySelector('.profile-img-dark');
        profileImageLight.style.display = theme === 'dark' ? 'none' : 'block';
        profileImageDark.style.display = theme === 'dark' ? 'block' : 'none';
    }

    function toggleTheme() {
        const newTheme = document.body.classList.contains('dark-mode') ? 'light' : 'dark';
        localStorage.setItem('theme', newTheme);
        applyTheme(newTheme);
    }

    function updateToggleButtonText(theme) {
        toggleButton.textContent = theme === 'dark' ? 'Switch to Light Mode' : 'Switch to Dark Mode';
    }

    // Set initial theme based on saved or system preference
    applyTheme();

    toggleButton.addEventListener('click', toggleTheme);
    
    // Adjust theme automatically when system preference changes
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (event) => {
        applyTheme(event.matches ? 'dark' : 'light');
    });
});
</script>
