---
ayout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{{ page.profile.align }}">
        <!-- Light theme image -->
        <img src="{{ site.baseurl }}/assets/img/{{ page.profile.image_light }}" alt="Profile Light" class="profile-img-light theme-light">
        <!-- Dark theme image -->
        <img src="{{ site.baseurl }}/assets/img/{{ page.profile.image_dark }}" alt="Profile Dark" class="profile-img-dark theme-dark">
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info | markdownify }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>


/* Hide dark theme image by default */
.theme-dark {
  display: none;
}

/* If the body has the class .dark-theme, hide the light theme image and show the dark theme image */
body.dark-theme .theme-light {
  display: none;
}

body.dark-theme .theme-dark {
  display: block;
}


